@import 'tailwindcss';
<<<<<<< HEAD
=======

*{
    margin: 0;
    box-sizing: border-box;
}

>>>>>>> b61eb10c0bb9a291a3c5bcfc14e0e18d3964f52d
:root {
    --color-violet: #8B3FDE;
    --color-magenta: #C837AB;
    --color-orange: #FF6B35;
    --gradient-qriblik: linear-gradient(135deg, #8B3FDE 0%, #C837AB 50%, #FF6B35 100%);
}
