@import 'tailwindcss';

:root {
    --color-violet: #8B3FDE;
    --color-magenta: #C837AB;
    --color-orange: #FF6B35;
    --gradient-qriblik: linear-gradient(135deg, #8B3FDE 0%, #C837AB 50%, #FF6B35 100%);
}

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.padding{
    padding: 20px;
}
@keyframes slide-in {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}